<div class="alert alert-info">
  <p>시간표의 각 시간별로 도움반 수업이 필요한 반을 선택해 주세요.</p>
  <p>
    교과목을 선택하면 해당 시간에는 선택된 교과목만 고려됩니다.
    교과목을 선택하지 않으면 모든 교과목이 고려됩니다.
  </p>
</div>
<table class="table table-bordered timetable input-timetable">
  <thead>
    <tr>
      <th></th>
      <th>월</th>
      <th>화</th>
      <th>수</th>
      <th>목</th>
      <th>금</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="period in periods">
      <th>{{period + 1}}<span class="hidden-xs">교시</span></th>
      <td ng-repeat="day in days" ng-init="cell = inputTimetable[day][period]" ng-class="{selected: cell.isSelected}" ng-click="select(cell); $event.stopPropagation()">
        <div ng-if="!cell.isSelected">
          <div class="classes">
            <div class="class" ng-repeat="klass in cell[0]">{{klass}}</div>
          </div>
          <div class="courses">
            <div class="course" ng-repeat="course in cell[1]">{{course}}</div>
          </div>
        </div>
        <div ng-if="cell.isSelected">
          <div class="classes">
            <div class="class" ng-repeat="klass in classes" ng-class="{selected: cell[0] &amp;&amp; cell[0].indexOf(klass) != -1}" ng-click="toggleClass(cell, klass)">{{klass}}</div>
          </div>
          <div class="courses">
            <div class="course" ng-repeat="course in courses" ng-class="{selected: cell[1] &amp;&amp; cell[1].indexOf(course) != -1}" ng-click="toggleCourse(cell, course)">{{course}}</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="controls">
  <button class="btn btn-link" ng-confirm="resetInputTimetable()">초기화</button>
</div>
<div ng-include="'templates/pagination.html'"></div>