<div class="alert alert-info">
  <p>기타 조건을 입력해 주세요.</p>
  <p>
    일부 조건은 경우에 따라 지켜지지 않을 수도 있습니다.
  </p>
</div>
<form class="form-horizontal">
  <div class="form-group">
    <label for="max-classes" class="col-sm-3 control-label">최대 수업 크기</label>
    <div class="col-sm-3">
      <input type="number" id="max-classes" class="form-control" min="1" step="1"
             pattern="\d*"
             ng-model="problemArgs.maxClasses">
    </div>
    <div class="col-sm-6">
      <p class="help-block">
        최대 몇 반까지 같은 수업에 배정될 수 있는 지를 설정합니다. 값을 지정하지 않으면
        크기에 제한을 두지 않습니다.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="course-hours" class="col-sm-3 control-label">주당 수업 시간</label>
    <div class="col-sm-3">
      <input type="number" id="course-hours" class="form-control" min="1" step="1"
             pattern="\d*"
             ng-model="problemArgs.courseHours">
    </div>
    <div class="col-sm-6">
      <p class="help-block">
        각 교과목마다 일주일에 몇 시간의 수업 시간을 넣을지를 설정합니다.
        값을 지정하지 않으면 수업 시간이 적은 시간표가 만들어집니다.
      </p>
    </div>
  </div>
  <h2>교과목별 수업 시간</h2>
  <p class="help-block">
    각 교과목별로 주당 수업 시간을 설정합니다. 값을 지정하지 않으면 위에서 입력한 주당 수업 시간이
    적용됩니다.
  </p>
  <div class="form-group" ng-repeat="course in problemArgs.courses">
    <label for="course-hours-{{$index}}" class="col-sm-3 control-label">{{course}}</label>
    <div class="col-sm-3">
      <input type="number" id="course-hours" class="form-control" min="1" step="1"
             pattern="\d*"
             ng-model="problemArgs.courseHoursByCourse[course]">
    </div>
  </div>
</form>
<div ng-include="'templates/pagination.html'"></div>
